      <footer>
        <hr>
        {{ if .Section -}}
        <nav class="post-nav">
          <span class="nav-prev">{{ with .PrevInSection }}← <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</span>
          <span class="nav-next">{{ with .NextInSection }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> →{{ end }}</span>
        </nav>
        {{ end -}}
        <div class="copyright">
          {{ $1 := now -}}
          {{- with .Page.Date -}}
            {{- $1 = . -}}
          {{- else -}}
            {{- with .Lastmod -}}
              {{- $1 = . -}}
            {{- end -}}
          {{- end -}}

          {{- $2 := now -}}
          {{- with .Lastmod -}}
            {{- $2 = . -}}
          {{- else -}}
            {{- with .Page.Date -}}
              {{- $2 = . -}}
            {{- end -}}
          {{- end -}}

          <p>Copyright © {{ if ne ($1.Format "2006") ($2.Format "2006") -}}
                           {{- $1.Format "2006" -}}-
                         {{- end -}}
          {{- $2.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
          {{ .Site.Copyright | markdownify }}
        </div>
      </footer>
    </article>
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/solid.min.css">
    <link rel="stylesheet" href="/css/brands.min.css">
  </body>
</html>
